@import 'mixin.scss';

body{
    h1{
        color: nth($colores,6);
        text-align: center;
    }
.section__about{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        @media (max-width: 480px){
            display: grid;
            grid-template-areas: "foto"
                                 "texto";
         justify-content: center;
         align-content: center;
        }
        @media (min-width:481px) and (max-width: 768px){
    
            display: grid;
            grid-template-areas: "foto"
                                 "texto";
            justify-content: center;
            align-content: center;
            }
            
        border-radius: 10px;
        background-color: nth($colores,3);
        margin: 20px;
        @extend %disposicion-grid;
        grid-template-areas: "foto texto"
                             "foto texto";
    
        img{
            width:300px;
            height:300px;
           border-radius:150px;
           margin: 25px;
           grid-area: foto;
       
        }
        p{
            @include medidas($font-size2,arial);
           grid-area: texto;
        }
    }
}
}


