@import 'mixin.scss';

.footer{
    flex-direction: row;
  
    @extend %disposicion;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: nth($colores,1);
    img{
        @include img-footer;
    }
    ul{
        li{
            display: inline-block; 
        }
    }
}


