@import 'mixin.scss';

header{
    h1{
        color: green;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-left: 8px;
        padding: 20px;

    }
    nav{
       
        ul{
            list-style: none;
           
            li{
                display: inline-block;
                width: 18%;
                position: relative;
                text-align: center;
                @include medidas(16px,arial);
                margin: 5px 7px 7px 7px;
                text-decoration: none;
                @media (max-width: 480px){
                     width: 9%;
                    display: inline-block;
                }
                @media (min-width:481px) and (max-width: 768px){
                    font-size: 17px;
                    width: 9%;
                    display: inline-block;
                    margin-left:30px;
              
               
             }
             .menu4{
                @media (max-width: 480px){
                    margin-left:50px;
               }
               @media (min-width:481px) and (max-width: 768px){
                margin-left:70px;
          
           
         }

             }
                a:hover{
                    background-color: nth($colores,2) ;
                    text-decoration: none;
                    color:white;
                    border-radius: 15px;
                    padding: 5px 10px; 
                }
                a{
                    color:black;
                    font-size: $font-size1;
                    margin: 8px; 
                    text-decoration: none;
                    transition: all 0.5s ease;
                    @media (max-width: 480px){
                     font-size: 12px;
                       margin: 5px;
                      
                   }
                   @media (min-width:481px) and (max-width: 768px){
                       font-size: 15px;
                       width: 9%;
                 
                  
                }

                }
                
                div{
                    @media (max-width: 480px){
                    
                        margin-right: 80px !important;
                    }
                  .prod{
                      background-color: white !important; 
                      color: black !important;
                      border: none !important;
                      font-family: Arial, Helvetica, sans-serif !important;
                      font-size: $font-size1 !important;
                      transition: all 0.5s ease !important;
                      @media (max-width: 480px){
         
                        font-size: 11px !important;
                      
                      }
                      @media (min-width:481px) and (max-width: 768px){
                        margin-right: 70px !important;
                        font-size:13px;
                   
                 }

                  }
                 
                  .prod:hover{
                    background-color: nth($colores,2) !important ;
                    text-decoration: none !important;
                    color:white !important;
                    border-radius: 15px !important;
                    padding: 5px 10px !important; 
                  }
                }
                
            };
        }
    }
}


.fotos__inicio{
    .fotoP{
    margin: 30px;
    /*display: flex;
    justify-content: center; */
    @extend %disposicion;
        .carousel{
            width: 97%;
            height: 35%;
            margin-right: 30px;
        
            
          
         }
    
    }
    .todas_fotos_home{
       div{
            
              
           
             @extend %disposicion-grid;
            grid-template-areas: "foto1 foto2 foto3"
                                 "t1 t2 t3";
             
             grid-column-gap: 5% ;
             .div__margin1 {
                 margin-left: 30px;
                    img{
                        grid-area: foto1;
                    }
                    a{
                        grid-area: t1;
                    }
             }
             .div__margin2 {
                    img{
                        grid-area: foto2;
                    }
                    a{
                        grid-area: t2;
                    }
            }
            .div__margin3{
                    img{
                        grid-area: foto3;
                    }
                    a{
                        grid-area: t3;
                    }
            }
             div{
                 .fotos__home{
                    width: 300px;
                    height: 300px;
                 }
                .container_f{
                    color:nth($colores,5);
                    font-size: 20px;
                    padding: 8px; 
                    text-decoration: none;
                    text-align: center;
                    margin: 40px;
                    
            }
        }
        img:hover{
            transform: scale(1.1);
            transition: all 2s;
        }
        a:hover{
            background-color: nth($colores,2) ;
                    text-decoration: none;
                    color:white ;
                    border-radius: 15px;
                    padding: 5px 10px; 
            }
      
            @media (min-width:481px) and (max-width: 768px){
        
                display: grid;
                grid-template-areas:"foto1 foto2 "
                                    "t1 t2"
                                    "foto3 foto3"
                                     "t3 t3";
             justify-content: center;
             grid-column-gap: 10px;
           
         }
         @media (max-width: 480px){
            display: grid;
            grid-template-areas:"foto1 "
                                "t1 "
                                "foto2 "
                                 "t2"
                                 "foto3"
                                 "t3";
         justify-content: center;
         grid-column-gap: 10px;
        }
    }

  
    
 }

 .todas_fotos_home2{
     margin-bottom: 150px;
   
    div{
        
@media (max-width: 480px){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width:481px) and (max-width: 768px){
    display: flex;
    flex-direction: column;
    justify-content: center;

}
        display:grid;
        grid-template-columns: 600px 600px;
        grid-auto-rows: 350px 350px 350px;
        gap: 10px; 
        padding: 20px;
        .div__margin11{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            img{
                width: 560px;
            height: 770px;
            @media (max-width: 480px){
                width: 400px;
                margin:20px;
                height: 770px;
            }
            @media (min-width:481px) and (max-width: 768px){
                width: 600px;
               margin-left: -80px;
                height: 770px;
            }
            }
        }
       .div__margin21{
          grid-column-start: 2;
          grid-row-start: 1;
          grid-row-end: 1;
            img{
            width: 445px;
            height: 360px;
            margin-bottom: 10px;
            @media (max-width: 480px){
                width: 400px;
                
                height: 300px;
            }
            @media (min-width:481px) and (max-width: 768px){
                width: 600px;
                height: 500px;
                margin-left: -80px;
            }
           
            }
        }  
        .div__margin31{
            margin-top: 10px;
            grid-column-start: 2;
            grid-row-start: 2;
            grid-row-end: 2;
            img{
                width: 445px;
                height: 400px;
                @media (max-width: 480px){
                    width: 400px;
                    
                    height: 300px;
                }
                @media (min-width:481px) and (max-width: 768px){
                    width: 600px;
                    height: 500px;
                    margin-left: -80px;
                }
                }
               
            }
        }  
        .div__margin41{
        margin-top: 70px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        img{
            width: 1060px;
            height: 400px;
            @media (max-width: 480px){
                width: 400px;
                height: 300px;
            }
            @media (min-width:481px) and (max-width: 768px){
                width: 600px;
                height: 300px;
                margin: -80px;
            }
           
        }
        
       
        } 
    }
    .wide{
        grid-column: span 1;
    }
    .tall2{
        grid-row: span 2;
    }
    .tall{
        grid-row: span 1;
    }
 
}
 




.links {
color: darkslategrey;
font-size: $font-size1;
padding: 8px; 
text-decoration: none;
}


