@import 'maps.scss';  

.section__productos{
    display: flex;
    flex-flow: row wrap;
    display: grid;    
    grid-template-columns: auto auto auto;
    @media (max-width: 480px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:25px;
   }
   
@media (min-width:481px) and (max-width: 768px){
    
  display: grid;
  grid-template-columns: 350px 350px;
  grid-column-gap: 10px;
  justify-content: center;
  align-content: center;
  }

   
   div{
     border-radius: 10px;
  //  background-color: nth($colores,4);
    margin: 20px;
       p{
        @include medidas(25px,arial);
         }
       img{
        width: 400px;
        height: 300px;
       }
       

@media (min-width:481px) and (max-width: 768px){
    
  width: 300px;
}
      
   }
   div:hover{
    transform: scale(1.1);
    transition: all 2s;
    
  }
}



.container__prod{
    flex-direction: row;
    @extend %disposicion;
    a{
      margin: 30px;
      text-decoration: none;
      color:  nth($colores,5);
      text-align: center;
      font-size: 16px;
      
  }
  a:hover{
    background-color: nth($colores,2) ;
                    text-decoration: none;
                    color:white ;
                    border-radius: 10px;
                    padding: 5px 10px; 
  }
}





