@import 'maps.scss';  

body{
    h1{
        color:map-get($titulos1, color);
    }
.section__sus{
  
 @extend %disposicion-grid;
    grid-template-areas: "video texto"
                          "img texto2";
                          

grid-column-gap: 5%;
    img{
        margin-left: 20px;
        margin: 40px;
    width: 550px;
    height: 400px;
    grid-area: img;
    }
    p{
        @include medidas(25px,arial);

     }
    .texto__sus{
        font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      grid-area: texto;
    }
    .video{
        grid-area: video;
        margin-left: 20px;
        margin: 40px;
    }
    .texto__sus2{
        grid-area: texto2;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    @media(max-width: 480px){
       display: grid;
       align-items: center;
       justify-content: center;
    grid-template-areas: "video"
                          "texto"
                          "img"
                          "texto2";
      
        }
        @media (min-width:481px) and (max-width: 768px){
            display: grid;
            align-items: center;
            justify-content: center;
         grid-template-areas: "video"
                               "texto"
                               "img"
                               "texto2";
          }
              
        


}
p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}




}


